body {
    background-color: #FDFCDC;
}

h2 {
    background-color: #0081a7;
}

p{
    margin: 10px;
}

.videocheval {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    max-height: 300px;
}

.imgaccordion {
    display: block;
    margin: auto;
    margin-top: 10px;
    max-width: 200px;
    max-height: 250px;
}

@media screen and (min-width: 768px) {
    h2 {background-color: #C298A6;}
    .videocheval {
        width: max-content;
        height: 250px;
    }

    .imgaccordion {
        float: right;
        max-width: 40%;
        max-height: 40%;

    .clearfix::after {
        content: "";
        display: block;
        clear: both;
    }

    }
}
@media screen and (min-width: 1024px) {
    h2 {background-color: #B0CC99;
    }

    .videocheval {
        width: max-content;
        height: 350px;
    }

    .imgaccordion {
        max-width: 55%;
        max-height: 55%;
    }
}
